*{
    padding: 0 auto;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    background-color: red;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;

}

header button{
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    border: none;

}

.container{
    padding: 10px;
    margin: 0 auto;

}

.contatto{
    position: relative;
    display: inline-block;
    
}

.pinco{
    position: absolute;
    bottom: 5px;
    padding: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.25);

}

footer .foot-container{
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    padding: 10px;
}

ul li{
    list-style: none;
}

ul{
    display: flex;
    gap: 10px;
    
}


#opzioni{

}

